* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serifx;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #10232C;

}

.navbar-links a:hover{
text-decoration: underline;
}